In [7]:
import pandas as pd
import numpy as np
from mlxtend.frequent_patterns import fpgrowth, association_rules

dataset = pd.read_csv("D:\\Downloads\\market.csv", header=0, sep=';')
dataset.head(5)

,Bread,Honey,Bacon,Toothpaste,Banana,Apple,Hazelnut,Cheese,Meat,Carrot,...,Milk,Butter,ShavingFoam,Salt,Flour,HeavyCream,Egg,Olive,Shampoo,Sugar
0,1,0,1,0,1,1,1,0,0,1,...,0,0,0,0,0,1,1,0,0,1
1,1,1,1,0,1,1,1,0,0,0,...,1,1,0,0,1,0,0,1,1,0
2,0,1,1,1,1,1,1,1,1,0,...,1,0,1,1,1,1,1,0,0,1
3,1,1,0,1,0,1,0,0,0,0,...,1,0,0,0,1,0,1,1,1,0
4,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [11]:
# Transform the dataset to a one-hot encoded format
dataset_transformed = dataset.apply(lambda col: col.replace(1, col.name).replace(0, np.nan))
dataset_transformed.columns = range(dataset_transformed.shape[1])
dataset_transformed

,0,1,2,3,4,5,6,7,8,9,...,12,13,14,15,16,17,18,19,20,21
0,Bread,NaN,Bacon,NaN,Banana,Apple,Hazelnut,NaN,NaN,Carrot,...,NaN,NaN,NaN,NaN,NaN,HeavyCream,Egg,NaN,NaN,Sugar
1,Bread,Honey,Bacon,NaN,Banana,Apple,Hazelnut,NaN,NaN,NaN,...,Milk,Butter,NaN,NaN,Flour,NaN,NaN,Olive,Shampoo,NaN
2,NaN,Honey,Bacon,Toothpaste,Banana,Apple,Hazelnut,Cheese,Meat,NaN,...,Milk,NaN,ShavingFoam,Salt,Flour,HeavyCream,Egg,NaN,NaN,Sugar
3,Bread,Honey,NaN,Toothpaste,NaN,Apple,NaN,NaN,NaN,NaN,...,Milk,NaN,NaN,NaN,Flour,NaN,Egg,Olive,Shampoo,NaN
4,NaN,Honey,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
459,NaN,Honey,Bacon,NaN,NaN,Apple,Hazelnut,Cheese,Meat,Carrot,...,Milk,Butter,NaN,NaN,Flour,HeavyCream,Egg,Olive,Shampoo,NaN
460,NaN,NaN,Bacon,NaN,NaN,NaN,Hazelnut,NaN,Meat,NaN,...,NaN,NaN,ShavingFoam,NaN,NaN,NaN,Egg,NaN,NaN,Sugar
461,NaN,NaN,NaN,NaN,NaN,Apple,NaN,Cheese,Meat,NaN,...,Milk,NaN,NaN,NaN,NaN,NaN,Egg,NaN,NaN,NaN
462,Bread,NaN,NaN,Toothpaste,Banana,NaN,Hazelnut,Cheese,NaN,Carrot,...,Milk,NaN,NaN,NaN,Flour,NaN,Egg,Olive,NaN,Sugar
463,Bread,NaN,Bacon,NaN,NaN,NaN,Hazelnut,NaN,NaN,Carrot,...,Milk,NaN,ShavingFoam,NaN,Flour,HeavyCream,Egg,NaN,NaN,Sugar

In [15]:
records = []
for i in range(0, dataset_transformed.shape[0]):
    records.append([str(dataset_transformed.values[i, j]) for j in range(0, dataset_transformed.shape[1]) if pd.notnull(dataset_transformed.values[i, j])])

In [17]:
records = []
for i in range(0, dataset_transformed.shape[0]):
    records.append([str(dataset_transformed.values[i, j]) for j in range(0, dataset_transformed.shape[1]) if pd.notnull(dataset_transformed.values[i, j])])

In [19]:
# Create a DataFrame for the one-hot encoded format
from mlxtend.preprocessing import TransactionEncoder

encoder = TransactionEncoder()
onehot = encoder.fit(records).transform(records)
df = pd.DataFrame(onehot, columns=encoder.columns_)

In [21]:
FG_growth = fpgrowth(df, min_support=0.05, use_colnames=True)
Result = association_rules(FG_growth, metric="lift", min_threshold=1, num_itemsets=2)
Result.head()

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,representativity,leverage,conviction,zhangs_metric,jaccard,certainty,kulczynski
0,(Bacon),(Banana),0.431034,0.448276,0.241379,0.560000,1.249231,1.0,0.048157,1.253918,0.350649,0.378378,0.202500,0.549231
1,(Banana),(Bacon),0.448276,0.431034,0.241379,0.538462,1.249231,1.0,0.048157,1.232759,0.361607,0.378378,0.188811,0.549231
2,(Bacon),(Cheese),0.431034,0.443966,0.224138,0.520000,1.171262,1.0,0.032773,1.158405,0.256993,0.344371,0.136744,0.512427
3,(Cheese),(Bacon),0.443966,0.431034,0.224138,0.504854,1.171262,1.0,0.032773,1.149087,0.262970,0.344371,0.129744,0.512427
4,"(Bacon, Banana)",(Cheese),0.241379,0.443966,0.140086,0.580357,1.307212,1.0,0.032922,1.325018,0.309790,0.256917,0.245293,0.447946

In [22]:
Result.sort_values("confidence",ascending=False)
Result.head()

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,representativity,leverage,conviction,zhangs_metric,jaccard,certainty,kulczynski
0,(Bacon),(Banana),0.431034,0.448276,0.241379,0.560000,1.249231,1.0,0.048157,1.253918,0.350649,0.378378,0.202500,0.549231
1,(Banana),(Bacon),0.448276,0.431034,0.241379,0.538462,1.249231,1.0,0.048157,1.232759,0.361607,0.378378,0.188811,0.549231
2,(Bacon),(Cheese),0.431034,0.443966,0.224138,0.520000,1.171262,1.0,0.032773,1.158405,0.256993,0.344371,0.136744,0.512427
3,(Cheese),(Bacon),0.443966,0.431034,0.224138,0.504854,1.171262,1.0,0.032773,1.149087,0.262970,0.344371,0.129744,0.512427
4,"(Bacon, Banana)",(Cheese),0.241379,0.443966,0.140086,0.580357,1.307212,1.0,0.032922,1.325018,0.309790,0.256917,0.245293,0.447946

In [25]:
from mlxtend.frequent_patterns import association_rules
Result = association_rules(FG_growth, metric= "confidence", min_threshold = 0.3,num_itemsets=3)
Result = Result.sort_values(['confidence', 'lift'], ascending =[False, False])
Result.head()

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,representativity,leverage,conviction,zhangs_metric,jaccard,certainty,kulczynski
8314,"(Bacon, Butter, Egg, Banana)",(Cheese),0.058190,0.443966,0.053879,0.925926,2.085581,1.0,0.028045,7.506466,0.552677,0.120192,0.866782,0.523643
16414,"(Meat, Honey, Onion, Banana)",(Bacon),0.058190,0.431034,0.051724,0.888889,2.062222,1.0,0.026642,5.120690,0.546911,0.118227,0.804714,0.504444
7024,"(Butter, Cheese, Banana, ShavingFoam)",(Bacon),0.068966,0.431034,0.060345,0.875000,2.030000,1.0,0.030618,4.551724,0.544974,0.137255,0.780303,0.507500
16432,"(Meat, Carrot, Bacon, Onion)",(Honey),0.062500,0.415948,0.053879,0.862069,2.072539,1.0,0.027883,4.234375,0.552000,0.126904,0.763838,0.495801
16429,"(Meat, Carrot, Honey, Onion)",(Bacon),0.062500,0.431034,0.053879,0.862069,2.000000,1.0,0.026940,4.125000,0.533333,0.122549,0.757576,0.493534

In [27]:
result=fpgrowth(df,min_support=0.2, use_colnames=True)
result.head(30)

     support                itemsets
0   0.448276                (Banana)
1   0.431034                 (Bacon)
2   0.420259              (Hazelnut)
3   0.415948            (HeavyCream)
4   0.413793                (Carrot)
5   0.407328                 (Bread)
6   0.405172                 (Apple)
7   0.403017                   (Egg)
8   0.366379                 (Sugar)
9   0.415948                 (Honey)
10  0.385776                 (Flour)
11  0.381466              (Cucumber)
12  0.381466                 (Olive)
13  0.375000                (Butter)
14  0.370690                  (Milk)
15  0.366379               (Shampoo)
16  0.443966                (Cheese)
17  0.405172           (ShavingFoam)
18  0.398707                  (Salt)
19  0.387931                  (Meat)
20  0.383621            (Toothpaste)
21  0.379310                 (Onion)
22  0.241379         (Bacon, Banana)
23  0.224138         (Bacon, Cheese)
24  0.221983       (Bacon, Hazelnut)
25  0.221983      (Hazelnut, Banana)
26  0.206897      (Hazelnut, Cheese)
27  0.209052  (Hazelnut, HeavyCream)
28  0.200431     (Bacon, HeavyCream)
29  0.204741     (Honey, HeavyCream)